@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$fs-header: 2.5rem;
$fs-body: 1rem;

$ff-body: 'Josefin Sans', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;